{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1>Založ turnaj</h1>

                {{ form_start(turnajForm) }}

                {{ form_row(turnajForm.nazev ) }}
                {{ form_row(turnajForm.popis ) }}
                {{ form_row(turnajForm.adresa ) }}
                {{ form_row(turnajForm.datum) }}
                {{ form_row(turnajForm.pocet_tymu) }}
                {{ form_row(turnajForm.typ) }}
                <button class="btn btn-primary">Založit turnaj </button>

                {{ form_end(turnajForm) }}
            </div>
        </div>
    </div>

{% endblock %}