{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h1>Založ tým</h1>

            {{ form_start(tymForm) }}

            {{ form_row(tymForm.jmeno ) }}
            {{ form_row(tymForm.popis ) }}
            {{ form_row(tymForm.adresa ) }}
            {{ form_row(tymForm.typ) }}
            {{ form_row(tymForm.imageFile, {
                attr: {
                    'placeholder': 'Vyber logo týmu'
                }
            })}}
                <button class="btn btn-primary">Založit tým </button>

            {{ form_end(tymForm) }}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.custom-file-input').on('change', function(event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>

{% endblock %}